html,
body {
	width: 100%;
	height: 100%;
	font-family: helvetica, sans-serif;
	color: #11A8BB;
}
body {
	background-color: #C2E8E5;
}
h1 {
	padding: 20px;
}
.layerlax {
	width: 75%;
	margin: 0 auto;
}
.layerlax {
	position: relative;
}
.layerlax .layer {
	position: absolute;
	top: 0;
	left: 0;
}