html,
body {
	width: 100%;
	height: 100%;
	font-family: helvetica, sans-serif;
	color: #11A8BB;
}
body {
	background-color: #C2E8E5;
}
h1 {
	padding: 20px;
}
.layerlax {
	width: 75%;
	height: 50%;
	margin: 0 auto;
	display: block;
}
.layerlax {
	position: relative;
}
.layerlax .layer {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: transform 2.2s ease-in-out;
	transition: transform 2.2s ease-in-out;
}
.layerlax .layer img {
	width: 100%;
	height: auto;
}
.layerlax .layer[data-scale] {
	-webkit-transition: transform 4s ease-in-out;
	transition: transform 4s ease-in-out;
}